*{
  padding: 0;
  margin: 0;
}
.header a{
  text-decoration: none;
  color: black;
}
.header a :hover{
  text-decoration: none;
  color: black;
}
.header{
  height: 100px;
  width: 100%;
  background-color: rgba(165, 156, 156, 0.6);
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img{
  height: 90px;
  margin-left: 100px;
  float: left;
}
.header button{
  background-color: rgb(39, 38, 38);
  border: none;
  margin-right: 50px;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
.header ul{
  float: right;
  line-height: 100px;
  margin-right: 40px;
}
.header ul li{
  display: inline;
  font-size: 20px;
  font-family: arial;
  list-style: none;
}
.list{
  margin-left: 40px;
  margin-right: 10px;
}
.slika{
  width: 100%;
  height: 100%;
  background-color: rgb(30, 31, 32);
  background-image: url('./slika1');
  background-repeat: no-repeat;
  background-size: cover;
}
.footer{
  height: 80px;
  background-color: rgb(20, 19, 19);
  display: flex;
}
.header ul li:hover{
  color: aliceblue;
  cursor: pointer;
}
.header p{
  padding-left: 50px;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header p:hover{
  color: aliceblue;
  cursor: pointer;
}
.container1 {
  width: 550px;
  text-align: left;
  padding-top: 12%;
  padding-left: 8%;
  height: 100px;
  color: rgba(211, 206, 200, 0.87);
}
.container1 p{
  background-color: rgba(41, 39, 39, 0.8);
  padding: 7% 7%;
  border-radius: 15px;
}
/*kartice*/
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
/* .padded {
  padding: 100px 0;
}*/
.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-large {
  width: 50px;
}
.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}
.container button{
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.edit{
  background-color: #46C228;
}
.delete{
  background-color: #CA1D1D;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.features img {
  width: 100px;
}
.features h2 {
  font-size: 20px;
 margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}
.container {
  padding-top: 35%;
  display: flex;
  width: 100%;
}
.dialog-hid{
  display: none;
}
.dialog{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.9;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-div{
  height: 400px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
}
.dialog-header p{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}
.dialog-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-content input{
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
}

.dialog-content input::placeholder{
  padding-left: 10px;
}

.dialog-action{
  margin-right: 50px;
}

.dialog-action button{
  padding: 10px 20px;
  margin-left: 10px;
  float: right;
  border: none;
  border-radius: 5px;
}
.submit{
  background-color: #46C228;
}
.cancel{
  background-color: #CA1D1D;
}

.dialog-edit-hid{
  display: none;
}
.dialog-edit{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.9;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-edit-div{
  height: 400px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
}
.dialog-edit-header p{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}
.dialog-edit-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-edit-content input{
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
}

.dialog-edit-content input::placeholder{
  padding-left: 10px;
}

.dialog-edit-action{
  margin-right: 50px;
}

.dialog-edit-action button{
  padding: 10px 20px;
  margin-left: 10px;
  float: right;
  border: none;
  border-radius: 5px;
}


@media only screen and (max-width:700px){
  .container1 {
    padding-left: 10%;
    padding-top: 30%;
  }
  .container {
    padding-top: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul{
    display: none;
  }
  .header p{
    padding-left: 20%;
  }
  .kartica{
    width: 100%;
  }

}