*{
    padding: 0;
    margin: 0;
  }
  .header{
    height: 100px;
    width: 100%;
    background-color: rgba(161, 37, 37, 0.6);
    position: fixed;
  }
  .header img{
    height: 90px;
    margin-left: 100px;
    float: left;
  }
  .header ul{
    float: right;
    line-height: 100px;
    margin-right: 40px;
  }
  .header ul li{
    display: inline;
    font-size: 20px;
    font-family: arial;
    list-style: none;
  }
  .list{
    margin-left: 40px;
    margin-right: 10px;
  }